## 1. Creating Lists

Empty List

In [9]:
print("Two standard ways to create an empty list:")
a = [ ]
b = list()

print(type(a), len(a), a)
print(type(b), len(b), b)
print(a == b)

#print(type('2345'[2]))



# here i am changing alfj;aefil [jqewifq[oyrphrlgh;ahrg]]

Two standard ways to create an empty list:
<class 'list'> 0 []
<class 'list'> 0 []
True
<class 'str'>

List with One Element (Singleton)

In [ ]:
a = [ "hello" ]
b = [ 42 ]

print(type(a), len(a), a)
print(type(b), len(b), b)
print(a == b)

<class 'list'> 1 ['hello']
<class 'list'> 1 [42]
False

List with Multiple Elements

In [ ]:
a = [2, 3, 5, 7]
b = list(range(5))
c = ["mixed types", True, 42]

print(type(a), len(a), a)
print(type(b), len(b), b)
print(type(c), len(c), c)

<class 'list'> 4 [2, 3, 5, 7]
<class 'list'> 5 [0, 1, 2, 3, 4]
<class 'list'> 3 ['mixed types', True, 42]

Variable-Length List

In [ ]:
n = 10
a = [0] * n # creates a list with n 0s
b = list(range(n))

print(type(a), len(a), a)
print(type(b), len(b), b)

<class 'list'> 10 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
<class 'list'> 10 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## 2. List Functions and Operations

In [ ]:
a = [ 2, 3, 5, 2 ]
print("a = ", a)
print("len =", len(a))
print("min =", min(a))
print("max =", max(a))
print("sum =", sum(a))

# Create some lists
a = [ 2, 3, 5, 3, 7 ]
b = [ 2, 3, 5, 3, 7 ]   # same as a
c = [ 2, 3, -5, 3, 8 ]   # differs in last element
d = [ 2, 3, 5 ]         # prefix of a

print("a =", a)
print("b =", b)
print("c =", c)
print("d =", d)

print("------------------")
print("a == b", (a == b))
print("a == c", (a == c))
print("a != b", (a != b))
print("a != c", (a != c))

print("------------------")
print("a < c", (a < c))
# print("a < d", (a < d))

a =  [2, 3, 5, 2]
len = 4
min = 2
max = 5
sum = 12
a = [2, 3, 5, 3, 7]
b = [2, 3, 5, 3, 7]
c = [2, 3, -5, 3, 8]
d = [2, 3, 5]
------------------
a == b True
a == c False
a != b False
a != c True
------------------
a < c False

## 3. Accessing Elements (Indexing and Slicing)

In [ ]:
# Indexing and slicing for lists works the same way as it did for strings!

a = [2, 3, 5, 7, 11, 13]
print("a        =", a)

# Access non-negative indexes
print("a[0]     =", a[0])
print("a[2]     =", a[2])

# Access negative indexes
print("a[-1]    =", a[-1])
print("a[-3]    =", a[-3])

# Access slices a[start:end:step]
print("a[0:2]   =", a[0:2])
print("a[1:4]   =", a[1:4])
print("a[1:6:2] =", a[1:6:2])

a        = [2, 3, 5, 7, 11, 13]
a[0]     = 2
a[2]     = 5
a[-1]    = 13
a[-3]    = 7
a[0:2]   = [2, 3]
a[1:4]   = [3, 5, 7]
a[1:6:2] = [3, 7, 13]

## 4. List Mutability and Aliasing

Unlike strings, lists are mutable. This means that they can be changed, without creating a new list.

This also forces us to better understand aliases, when two variables reference the same value. Aliases are only interesting (and challenging) for mutable values like lists.

Example:

In [ ]:
# Create a list
a = [ 2, 3, 5, 7 ]

# Create an alias to the list
b = a

# We now have two references (aliases) to the SAME list
a[0] = 42
b[1] = 99
print(a)
print(b)

[42, 99, 5, 7]
[42, 99, 5, 7]

Function Parameters are Aliases:

In [ ]:
def f(a):
    a[0] = 42
a = [2, 3, 5, 7]
f(a)
# a = f(a)
print(a)

# Note that the parameter alias can still be broken by re-assigning the variable

a = [3, 2, 1]

def foo(a):
     a[0] = 1
     a = [5, 2, 0] # we break the alias here!
     a[0] = 4
     return a

a = foo(a)
print(a)

[42, 3, 5, 7]
[4, 2, 0]

Another Example:

In [ ]:
# Create a list
a = [ 2, 3, 5, 7 ]

# Create an alias to the list
b = a

# Create a different list with the same elements
c = [ 2, 3, 5, 7 ]

# a and b are references (aliases) to the SAME list
# c is a reference to a different but EQUAL list

print("initially:")
print("  a==b  :", a==b)
print("  a==c  :", a==c)
print("  a is b:", a is b) # the is operation tells if two values are aliases, or basic datatypes
print("  a is c:", a is c)

# Now changes to a also change b (the SAME list) but not c (a different list)
a[0] = 42
print("After changing a[0] to 42")
print("  a=", a)
print("  b=", b)
print("  c=", c)

initially:
  a==b  : True
  a==c  : True
  a is b: True
  a is c: False
After changing a[0] to 42
  a= [42, 3, 5, 7]
  b= [42, 3, 5, 7]
  c= [2, 3, 5, 7]

You Do: What will you see in the result?

In [ ]:
print("  a==b  :", a==b)
print("  a==c  :", a==c)
print("  a is b:", a is b)
print("  a is c:", a is c)

  a==b  : True
  a==c  : False
  a is b: True
  a is c: False

## 5. Copying Lists

Copy vs Alias

In [ ]:
# Because of aliasing, we have to be careful if we share a reference
# to a list in the same way we might for number or a string,
# by simply setting b = a, like so:

import copy

# Create a list
a = [ 2, 3 ]

# Try to copy it
b = a             # Error!  Not a copy, but an alias
c = copy.copy(a)  # Ok

# At first, things seem ok
print("At first...")
print("   a =", a)
print("   b =", b)
print("   c =", c)



# Now modify a[0]
a[0] = 42
print("But after a[0] = 42")
print("   a =", a)
print("   b =", b)
print("   c =", c)

At first...
   a = [2, 3]
   b = [2, 3]
   c = [2, 3]
But after a[0] = 42
   a = [42, 3]
   b = [42, 3]
   c = [2, 3]

Other ways to copy

In [ ]:
import copy

a = [2, 3]

b = copy.copy(a)
c = a[:]
d = a + [ ]
e = list(a)

a[0] = 42
print(a, b, c, d, e)

[42, 3] [2, 3] [2, 3] [2, 3] [2, 3]

## 6. Destructive and Non-destructive Functions

Because lists are mutable, we can change them in two ways:

**destructively** (which modifies the original value directly), and

**non-destructively** (which creates a new list and does not modify the original value).

This also affects how we write functions that use lists.

Destructive functions

In [ ]:
# A destructive function is written to directly change the provided list
# It does not need to return anything, as the caller can access the original list
def fill(a, value):
    for i in range(len(a)):
        a[i] = value

a = [1, 2, 3, 4, 5]
print("At first, a =", a)
fill(a, 42)
print("After fill(a, 42), a =", a)

At first, a = [1, 2, 3, 4, 5]
After fill(a, 42), a = [42, 42, 42, 42, 42]

Non-destructive function

In [ ]:
import copy

## First, a quick primer on modifying lists ##
## We'll talk about these more in a bit ##

a = [1, 2, 3, 4]

# .remove() DESTRUCTIVELY removes the given value from the list
a.remove(2)
print(a) # [1, 3, 4]

# .append() DESTRUCTIVELY adds the given value to the end of the list
a.append(70)
print(a) # [1, 3, 4, 70]

## Now, on to NON-DESTRUCTIVE functions! ##

def destructiveRemoveAll(a, value):
    while (value in a):
        a.remove(value)

def nonDestructiveRemoveAll(a, value):
    # Typically, we write non-destructive functions by building a new list
    # instead of changing the original
    result = []
    for element in a:
        if (element != value):
            result.append(element)
    return result # non-destructive functions still need to return!

def alternateNonDestructiveRemoveAll(a, value):
    # We can write the same function by breaking the alias,
    # then using the destructive approach
    a = copy.copy(a)
    destructiveRemoveAll(a, value)
    return a

a = [ 1, 2, 3, 4, 3, 2, 1 ]
print("At first")
print("   a =", a)

destructiveRemoveAll(a, 2)
print("After destructiveRemoveAll(a, 2)")
print("   a =", a)

b = nonDestructiveRemoveAll(a, 3)
print("After b = nonDestructiveRemoveAll(a, 3)")
print("   a =", a)
print("   b =", b)

c = alternateNonDestructiveRemoveAll(a, 1)
print("After c = alternateNonDestructiveRemoveAll(a, 1)")
print("   a =", a)
print("   c =", c)

[1, 3, 4]
[1, 3, 4, 70]
At first
   a = [1, 2, 3, 4, 3, 2, 1]
After destructiveRemoveAll(a, 2)
   a = [1, 3, 4, 3, 1]
After b = nonDestructiveRemoveAll(a, 3)
   a = [1, 3, 4, 3, 1]
   b = [1, 4, 1]
After c = alternateNonDestructiveRemoveAll(a, 1)
   a = [1, 3, 4, 3, 1]
   c = [3, 4, 3]

## 7. Finding Elements

Check for list membership: in

In [ ]:
a = [ 2, 3, 5, 2, 6, 2, 2, 7 ]
print("a      =", a)
print("2 in a =", (2 in a))
print("4 in a =", (4 in a))

a      = [2, 3, 5, 2, 6, 2, 2, 7]
2 in a = True
4 in a = False

Check for list non-membership: not in

In [ ]:
a = [ 2, 3, 5, 2, 6, 2, 2, 7 ]
print("a          =", a)
print("2 not in a =", (2 not in a))
print("4 not in a =", (4 not in a))

a          = [2, 3, 5, 2, 6, 2, 2, 7]
2 not in a = False
4 not in a = True

Count occurrences in list: list.count(item)

In [ ]:
a = [ 2, 3, 5, 2, 6, 2, 2, 7 ]
print("a          =", a)
print("a.count(1) =", a.count(1))
print("a.count(2) =", a.count(2))
print("a.count(3) =", a.count(3))

a          = [2, 3, 5, 2, 6, 2, 2, 7]
a.count(1) = 0
a.count(2) = 4
a.count(3) = 1

Find index of item: list.index(item) and list.index(item, start)

Example:

In [ ]:
a = [ 2, 3, 5, 2, 6, 2, 2, 7 ]
print("a            =", a)
print("a.index(6)   =", a.index(6))
print("a.index(2)   =", a.index(2))
print("a.index(2,1) =", a.index(2,1))
print("a.index(2,4) =", a.index(2,4))

a            = [2, 3, 5, 2, 6, 2, 2, 7]
a.index(6)   = 4
a.index(2)   = 0
a.index(2,1) = 3
a.index(2,4) = 5

Problem: crashes when item is not in list

In [ ]:
a = [ 2, 3, 5, 2 ]
print("a          =", a)
print("a.index(9) =", a.index(9)) # crashes!
print("This line will not run!")

a          = [2, 3, 5, 2]

ValueError: ignored

## You Do: how can you fix this error by changing the code above?

In [ ]:
## your code

### Solution: use (item in list)

In [ ]:
a = [ 2, 3, 5, 2 ]
print("a =", a)
if (9 in a):
    print("a.index(9) =", a.index(9))
else:
    print("9 not in", a)
print("This line will run now!")

a = [2, 3, 5, 2]
9 not in [2, 3, 5, 2]
This line will run now!

## 8. Adding Elements

Destructively (Modifying Lists):

*   Add an item with list.append(item)

In [ ]:
a = [ 2, 3 ]
a.append(7)
print(a)

[2, 3, 7]



*   Add a list of items with list += list2 or list.extend(list2)

In [ ]:
a = [ 2, 3 ]
a += [ 11, 13 ]
print(a)
a.extend([ 17, 19 ])
print(a)

[2, 3, 11, 13]
[2, 3, 11, 13, 17, 19]



*   Insert an item at a given index

In [ ]:
a = [ 2, 3, 5, 7, 11 ]
a.insert(2, 42)  # at index 2, insert 42
a[2:2] = [5, 10]
print(a)

[2, 3, 5, 10, 42, 5, 7, 11]

Non-Destructively (Creating New Lists)


*   Add an item with list1 + list2

In [ ]:
a = [ 2, 3 ]
b = a + [ 13, 17 ]
print(a)
print(b)

[2, 3]
[2, 3, 13, 17]



*   Insert an item at a given index (with list slices)

In [ ]:
a = [ 2, 3 ]
b = a[:2] + [5] + a[2:]
print(a)
print(b)

Destructive vs Non-Destructive Example

In [ ]:
print("Destructive:")
a = [ 2, 3 ]
b = a
a += [ 4 ]
print(a)
print(b)

print("Non-Destructive:")
a = [ 2, 3 ]
b = a
a = a + [ 4] # this overwrites a, but not the alias of b
print(a)
print(b)

Destructive:
[2, 3, 4]
[2, 3, 4]
Non-Destructive:
[2, 3, 4]
[2, 3]

## 9. Removing Elements

Destructively (Modifying Lists)


*   Remove an item with list.remove(item)

In [ ]:
a = [ 2, 3, 5, 3, 7, 6, 5, 11, 13 ]
print("a =", a)

a.remove(5)
print("After a.remove(5), a=", a)

a.remove(5)
print("After another a.remove(5), a=", a)

a.remove(5) # crash

a = [2, 3, 5, 3, 7, 6, 5, 11, 13]
After a.remove(5), a= [2, 3, 3, 7, 6, 5, 11, 13]
After another a.remove(5), a= [2, 3, 3, 7, 6, 11, 13]

ValueError: ignored



*   Remove an item at a given index with list.pop(index)

In [ ]:
a = [ 2, 3, 4, 5, 6, 7, 8 ]
print("a =", a)

item = a.pop(3)
print("After item = a.pop(3)")
print("   item =", item)
print("   a =", a)

item = a.pop(3)
print("After another item = a.pop(3)")
print("   item =", item)
print("   a =", a)

# Remove last item with list.pop()
item = a.pop()
print("After item = a.pop()")
print("   item =", item)
print("   a =", a)

a = [2, 3, 4, 5, 6, 7, 8]
After item = a.pop(3)
   item = 5
   a = [2, 3, 4, 6, 7, 8]
After another item = a.pop(3)
   item = 6
   a = [2, 3, 4, 7, 8]
After item = a.pop()
   item = 8
   a = [2, 3, 4, 7]

Remove more than one items

In [ ]:
a = [ 2, 3, 4, 5, 6, 7, 8 ]
a[2:4] = []
print("a = ", a)

# another method
a = [ 2, 3, 4, 5, 6, 7, 8 ]
del a[2:4] 
print("a = ", a)

a =  [2, 3, 6, 7, 8]
a =  [2, 3, 6, 7, 8]

Non-Destructively (Creating New Lists)


*   Remove an item at a given index (with list slices)

In [ ]:
a = [ 2, 3, 5, 3, 7, 5, 11, 13 ]
print("a =", a)

b = a[:2] + a[3:]
print("After b = a[:2] + a[3:]")
print("   a =", a)
print("   b =", b)

a = [2, 3, 5, 3, 7, 5, 11, 13]
After b = a[:2] + a[3:]
   a = [2, 3, 5, 3, 7, 5, 11, 13]
   b = [2, 3, 3, 7, 5, 11, 13]

## 10. Looping Over Lists

Looping with a normal for loop:

In [ ]:
a = [ 2, 3, 5, 7 ]
print("Here are the items in a with their indexes:")
for index in range(len(a)):
    # index = len(a) - 1 - index # reverse
    print("a[", index, "] =", a[index])

Here are the items in a with their indexes:
a[ 0 ] = 2
a[ 1 ] = 3
a[ 2 ] = 5
a[ 3 ] = 7

Looping with a for each loop

In [ ]:
# Lists and strings are both iterable types.
# This means that we can iterate (loop) over them directly!
a = [ 2, 3, 5, 7 ]
print("Here are the items in a:")
for item in a:
# for item in reversed(a):
    print(item)

Here are the items in a:
2
3
5
7

Hazard: modifying inside a for loop

In [ ]:
# IMPORTANT: don't change a list inside a for loop! The indexes will behave unpredictably.
# This isn't a problem for strings because they aren't mutable.
a = [ 2, 3, 5, 3, 7 ]
# print("a =", a)

# Failed attempt to remove all the 3's
for index in range(len(a)):
    if (a[index] == 3):  # this eventually crashes!
        a.pop(index)
        # break
    print(a)

print("This line will not run!")

[2, 3, 5, 3, 7]
[2, 5, 3, 7]
[2, 5, 7]

IndexError: ignored

Also Hazard: modifying inside a for-each loop

In [ ]:
# If we remove items in a for-each loop, the loop won't crash,
# but it won't behave as we would expect either!

a = [3, 3, 2, 3, 4]
for item in a:       # this won't reach every item in the list!
    # print(a)
    if (item == 3):
      a.remove(item)
      # break
    

print(a) # should be [2, 4], but there's still a 3 in there!

[2, 3, 4]

Better: modifying inside a while loop

In [ ]:
# Modify the list in a while loop instead of a for loop,
# to control how indexes 

a = [ 2, 3, 5, 3, 7 ]
a = [3, 3, 2, 3, 4]
print("a =", a)

# Successful attempt to remove all the 3's
index = 0
while (index < len(a)):
    if (a[index] == 3):
        a.pop(index)
    else:
        index += 1

print("This line will run!")
print("And now a =", a)

a = [3, 3, 2, 3, 4]
This line will run!
And now a = [2, 4]

## 11. List Methods: Sorting and Reversing

Lists have many built-in methods. It's common for these methods to be implemented both destructively and non-destructively.

Destructively with list.sort() or list.reverse()

In [ ]:
a = [ 7, 2, 5, 3, 5, 11, 7 ]
print("At first, a =", a)
a.sort()
print("After a.sort(), a =",a)

a = [ 2, 3, 5, 7 ]
print("Here are the items in reverse:")
a.reverse()
for item in a:
    print(item)
print(a)

At first, a = [7, 2, 5, 3, 5, 11, 7]
After a.sort(), a = [2, 3, 5, 5, 7, 7, 11]
Here are the items in reverse:
7
5
3
2
[7, 5, 3, 2]

Non-Destructively with sorted(list) and reversed(list)

In [ ]:
a = [ 7, 2, 5, 3, 5, 11, 7 ]
print("At first")
print("   a =", a)
b = sorted(a)
print("After b = sorted(a)")
print("   a =", a)
print("   b =", b)

d = [ 7, 2, -5, -3, 5, 11, 7 ]
print("   d =", sorted(d, key=abs))
print("   d =", d)

a = [ 2, 3, 5, 7 ]
print("Here are the items in reverse:")
for item in reversed(a):
    print(item)
print(a)

At first
   a = [7, 2, 5, 3, 5, 11, 7]
After b = sorted(a)
   a = [7, 2, 5, 3, 5, 11, 7]
   b = [2, 3, 5, 5, 7, 7, 11]
   d = [2, -3, -5, 5, 7, 7, 11]
   d = [7, 2, -5, -3, 5, 11, 7]
Here are the items in reverse:
7
5
3
2
[2, 3, 5, 7]

More list methods

For most list methods, see [this table](https://docs.python.org/3/library/stdtypes.html#typesseq-mutable) and [this list](https://https://docs.python.org/3/tutorial/datastructures.html#more-on-lists) of list methods.

## 12. Tuples (Immutable Lists)

Tuples are exactly like lists, except they are immutable. We cannot change the values of a tuple.

Tuple syntax

In [ ]:
t = (1, 2, 3)
print(type(t), len(t), t)

a = [1, 2, 3]
t = tuple(a)
print(type(t), len(t), t)

<class 'tuple'> 3 (1, 2, 3)
<class 'tuple'> 3 (1, 2, 3)

Tuples are immutable

In [ ]:
t = (1, 2, 3)
print(t[0])

t[0] = 42    # crash!
print(t[0])

1

TypeError: ignored

Parallel (tuple) assignment

In [ ]:
(x, y) = (1, 2)
print(x)
print(y)

# tuples are useful for swapping!
(x, y) = (y, x)
print(x)
print(y)

1
2
2
1

Singleton tuple syntax

In [ ]:
t = (42)
print(type(t), t*5)

t = (42,) # use a comma to force the type
print(type(t), t*5)

<class 'int'> 210
<class 'tuple'> (42, 42, 42, 42, 42)

## 13. List Comprehensions

List comprehensions are a handy way to create lists using simple loops all in one line.

In [ ]:
# Long way
a = []
for i in range(10):
    a.append(i)
print(a)

# Short way
a = [i for i in range(10)]
print(a)

# We can also add conditionals at the end (but keep it simple!)
a = [(i*100) for i in range(20) if i%5 == 0]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1500]

## 14. Converting Between Lists and Strings

In [ ]:
# use list(s) to convert a string to a list of characters
a = list("wahoo!")
print(a)  # prints: ['w', 'a', 'h', 'o', 'o', '!']

# use s1.split(s2) to convert a string to a list of strings delimited by s2
a = "How are you doing today?".split(" ")
print(a) # prints ['How', 'are', 'you', 'doing', 'today?']

# use "".join(a) to convert a list of characters to a single string
print("".join(a))  # prints: Howareyoudoingtoday?

# "".join(a) also works on a list of strings (not just single characters)
a = ["parsley", "is", "gharsley"] # by Ogden Nash!
print("".join(a))  # prints: parsleyisgharsley
print(" ".join(a)) # prints: parsley is gharsley

['w', 'a', 'h', 'o', 'o', '!']
['How', 'are', 'you', 'doing', 'today?']
Howareyoudoingtoday?
parsleyisgharsley
parsley is gharsley

## 15. Creating 2d Lists

15.1 Static Allocation

In [2]:
# create a 2d list with fixed values (static allocation)
a = [ [ 2, 3, 4 ] , [ 5, 6, 7 ] ]
print(a)

[[2, 3, 4], [5, 6, 7]]

15.2 Dynamic (Variable-Length) Allocation

In [7]:
# Try, and FAIL, to create a variable-sized 2d list
rows = 3
cols = 2

a = [ [0] * cols ] * rows # Any problem here?

print("This SEEMS ok.  At first:")
print("   a =", a)

print([[0, 0]]*3)

# a[0][0] = 42
# print("But see what happens after a[0][0]=42")
# print("   a =", a)

This SEEMS ok.  At first:
   a = [[0, 0], [0, 0], [0, 0]]
[[0, 0], [0, 0], [0, 0]]

## What is wrong here? It creates shallow copy-- one unique row, the rest are aliases!


Right: Append Each Row

In [ ]:
# Create a variable-sized 2d list
rows = 3
cols = 2

a=[]
for row in range(rows): a += [[0]*cols]

print("This IS ok.  At first:")
print("   a =", a)

a[0][0] = 42
print("And now see what happens after a[0][0]=42")
print("   a =", a)

This IS ok.  At first:
   a = [[0, 0], [0, 0], [0, 0]]
And now see what happens after a[0][0]=42
   a = [[42, 0], [0, 0], [0, 0]]

Even Better: make2dList()

In [ ]:
def make2dList(rows, cols):
    a=[]
    for row in range(rows): a += [[0]*cols]
    return a

rows = 3
cols = 2

a = make2dList(rows, cols)

print("This IS ok.  At first:")
print("   a =", a)

a[0][0] = 42
print("And now see what happens after a[0][0]=42")
print("   a =", a)

15.3 Nested looping over 2d list

In [ ]:
# Create an "arbitrary" 2d List
a = [ [ 2, 3, 5] , [ 1, 4, 7 ] ]
print("Before: a =", a)

# Now find its dimensions
rows = len(a)
cols = len(a[0])

# And now loop over every element
# Here, we'll add one to each element,
# just to make a change we can easily see
for row in range(rows):
    for col in range(cols):
        # This code will be run rows*cols times, once for each
        # element in the 2d list
        a[row][col] += 1

# Finally, print the results
print("After:  a =", a)

Before: a = [[2, 3, 5], [1, 4, 7]]
After:  a = [[3, 4, 6], [2, 5, 8]]

15.4 Copy 2d lists

In [ ]:
import copy

# Create a 2d list
a = [ [ 1, 2, 3 ] , [ 4, 5, 6 ] ]

# Try to copy it
b = copy.copy(a) # Problem?

# At first, things seem ok
print("At first...")
print("   a =", a)
print("   b =", b)

# Now modify a[0][0]
a[0][0] = 9
print("But after a[0][0] = 9")
print("   a =", a)
print("   b =", b)

At first...
   a = [[1, 2, 3], [4, 5, 6]]
   b = [[1, 2, 3], [4, 5, 6]]
But after a[0][0] = 9
   a = [[9, 2, 3], [4, 5, 6]]
   b = [[9, 2, 3], [4, 5, 6]]

Error:  creates shallow copy

In [ ]:
import copy

# Create a 2d list
a = [ [ 1, 2, 3 ] , [ 4, 5, 6 ] ]

# Try to copy it
b = copy.deepcopy(a) # Correct!

# At first, things seem ok
print("At first...")
print("   a =", a)
print("   b =", b)

# Now modify a[0][0]
a[0][0] = 9
print("And after a[0][0] = 9")
print("   a =", a)
print("   b =", b)

At first...
   a = [[1, 2, 3], [4, 5, 6]]
   b = [[1, 2, 3], [4, 5, 6]]
And after a[0][0] = 9
   a = [[9, 2, 3], [4, 5, 6]]
   b = [[1, 2, 3], [4, 5, 6]]

Limitations of copy.deepcopy

In [ ]:
a = [[0]*2]*3 # makes 3 shallow copies of (aliases of) the same row
a[0][0] = 42  # appears to modify all 3 rows
print(a)      # prints [[42, 0], [42, 0], [42, 0]]

# now do it again with a deepcopy

import copy
a = [[0]*2]*3        # makes 3 shallow copies of the same row
a = copy.deepcopy(a) # meant to make each row distinct
a[0][0] = 42         # so we hope this only modifies first row
print(a)             # STILL prints [[42, 0], [42, 0], [42, 0]]

# now one more time with a simple deepcopy alternative that does
# what we thought deepcopy did...

def myDeepCopy(a):
    if (isinstance(a, list) or isinstance(a, tuple)):
        return [myDeepCopy(element) for element in a]
    else:
        return copy.copy(a)

a = [[0]*2]*3     # makes 3 shallow copies of the same row
a = myDeepCopy(a) # once again, meant to make each row distinct
a[0][0] = 42      # so we hope this only modifies first row
print(a)          # finally, prints [[42, 0], [0, 0], [0, 0]]

# what's going on with deepcopy? Answer: if the original list has aliases,
# the deepcopied list will have aliases (of a single copy, not the original).
# So copy.deepcopy preserves alias structure!

15.5 Non-rectangular 2d lists

In [ ]:
# 2d lists do not have to be rectangular
a = [ [ 1, 2, 3 ] ,
      [ 4, 5 ],
      [ 6 ],
      [ 7, 8, 9, 10 ] ]

rows = len(a)
for row in range(rows):
    cols = len(a[row]) # now cols depends on each row
    print("Row", row, "has", cols, "columns: ", end="")
    for col in range(cols):
        print(a[row][col], " ", end="")
    print()