## Openning Note
Hi everyone, 

Welcome to assignment 4. In this assignment, you are going to do more paractice with python. This assignment will focus on basic operations with list and string. Have fun with it~

## Question 1

Complete the body of total_occurences() which takes two strings s1, s2 and one characters ch. The function should return the total number of occurences of ch in s1 and s2. 

**Example 1**:

    Input: ("color", "yellow", "l")
    Output: 3
    Explanation: 'l' present once in color and twice in yellow, the total occurences is 2 + 1 = 3.  

**Example 2**:

    Input: ("apple", "pear", "z")
    Output: 0
    

**Constraints**: 
   
    len(s1) >= 0, len(s2) >= 0, len(ch) =1

In [35]:
def total_occurrences(s1, s2, ch):
    ## your code  
    return s1.count(ch) + s2.count(ch)

## Question 2
In this Question, you are going to be familiar with some commonly used operations on list.

Variable ids refers to the list [4353, 2314, 2956, 3382, 9362, 3900]. Using list methods, do the following:

1. Remove 3382 from the list.
2. Get the index of 9362.
3. Insert 4499 in the list after 9362.
4. Extend the list by adding [5566, 1830] to it.
5. Reverse the list.
6. Sort the list.

In [36]:
ids =  [4353, 2314, 2956, 3382, 9362, 3900]

## your code
# 1
ids.remove(3382)
# 2
idx=ids.index(9362)
# 3
ids.insert(idx + 1, 4499)
# 4
ids.extend([5566, 1830])
# 5
ids.reverse()
# 6
ids.sort()

## Question 3

Complete the body of same_first_last() which takes a list as an argument and return if the first and last element of the list are the same.  

**Example 1**:

    Input: [2, 3, 5, 7, 11, 2]
    
    Output: True

**Example 2**:

    Input: ["apple", "pear"]
    
    Output: False

**Constraints**:
L >= 2

In [37]:
def same_first_last(L):
    ## your code
    return L[0] == L[-1]

## Question 4

Complete the body is_longer(L1: list, L2: list) -> bool. The function should return True if the first list is longer than the second list. 

**Example 1**:

    Input: ([1, 2, 3], [4, 5])
    
    Output: True

**Example 2**:

    Input: ([1, 2, 3], [4, 5, 6])
    
    Output: False

**Constraints**:
len(l1) >= 0, len(l2) >= 0

In [38]:
def is_longer(L1, L2):
    ## your code
    return len(L1) > len(L2)

## Question 5

The following function doesn’t have annotations or comments. Write them to make it easy for another programmer to understand what the function does and how.

In [39]:
def mystery_function(values):
  '''
  what does this function do? Add your descriptions.
  '''
  result = []  ## create a new list to store result
  for sublist in values:
    result.append([sublist[0]])  ## append the first object in sublist(the first list in values) as a new list to result
    for i in sublist[1:]:
      result[-1].insert(0, i)  ## insert the following objects in sublist as the first item of the last list in list result
  
  return result  ## the list with all items in its sublists reversed

## Question 6

You are given two lists, rat_1 and rat_2, that contain the daily weights of two rats over a period of six days. Assume the rats never have exactly the same weight. Write statements to do the following:

1. If rat 1 weighed more than rat 2 on day 1, then: (if rat 1 weighs more than rat 2 on the last day, print "Rat 1 remained heavier than Rat 2."; otherwise, print "Rat 2 became heavier than Rat 1.)"


**Example 1**:

    Input: ([1, 2, 3, 4, 5, 6], [4, 5, 6, 7, 8, 9])
    
    Output: None

**Example 2**:

    Input: ([6, 2, 3, 4, 5, 10], [4, 5, 6, 7, 8, 9])
    
    Output: Rat 1 remained heavier than Rat 2.

**Example 3**:

    Input: ([6, 2, 3, 4, 5, 1], [4, 5, 6, 7, 8, 9])
    
    Output: Rat 2 became heavier than Rat 1.
    
**Constraints**:

    rat_1[i] != rat_2[i] for i in (0, 5)

In [40]:
def compare_rats1(rat_1, rat_2):
    ## your code
    if (rat_1[0] > rat_2[0]):
        if rat_1[-1] > rat_2[-1]:
            print('Rat 1 remained heavier than Rat 2.')
        else:
            print('Rat 2 became heavier than Rat 1.')
    return

2. If rat 1 weighed more than rat 2 on day 1 and if rat 1 weighs more than rat 2 on the last day, print "Rat 1 remained heavier than Rat 2."; otherwise, print "Rat 2 became heavier than Rat 1."

**Example 1**:

    Input: ([6, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6])
    
    Output: Rat 1 remained heavier than Rat 2.

**Example 2**:

    Input: ([6, 5, 6, 7, 8, 9], [1, 6, 7, 8, 9, 10])
    
    Output: Rat 2 became heavier than Rat 1.

**Example 3**:

    Input: ([1, 2, 3, 4, 5, 1], [4, 5, 6, 7, 8, 9])
    
    Output: Rat 2 became heavier than Rat 1.
    
**Constraints**:

    rat_1[i] != rat_2[i] for i in (0, 6)

In [41]:
def compare_rats2(rat_1, rat_2):
    ## your code
    if rat_1[0] > rat_2[0] and rat_1[-1] > rat_2[-1]:
        print('Rat 1 remained heavier than Rat 2.')
    else:
        print('Rat 2 became heavier than Rat 1.')
    return

3. If your solution to the previous exercise used nested if statements, then do it without nesting, or vice versa.

In [42]:
def compare_rats3(rat_1, rat_2):
    ## your code
    if rat_1[0] > rat_2[0] and rat_1[-1] > rat_2[-1]:
            print('Rat 1 remained heavier than Rat 2.')
    elif rat_1[0] > rat_2[0] and rat_1[-1] <= rat_2[-1]:
            print('Rat 2 became heavier than Rat 1.')
    return

def compare_rats4(rat_1, rat_2):
    ## same logic in compare_rats2
    if rat_1[0] > rat_2[0]:
        if  rat_1[-1] > rat_2[-1]:
            print('Rat 1 remained heavier than Rat 2.')
        else:
            print('Rat 2 became heavier than Rat 1.')
    else:
        print('Rat 2 became heavier than Rat 1.')
    return

## Question 7
Consider this code:


```
from typing import List
 	
def remove_neg(num_list: List[float]) -> None:
 	"""Remove the negative numbers from the list num_list inplace, return nothing.
 	
 	 >>> numbers = [-5, 1, -3, 2]
 	 >>> remove_neg(numbers)
 	 >>> numbers
 	    [1, 2]
 	"""
 	
 	for item in num_list:
 	    if item < 0:
 	        num_list.remove(item)
```

When remove_neg([1, 2, 3, -3, 6, -1, -3, 1]) is executed, it produces [1, 2, 3, 6, -3, 1]. The for loop traverses the elements of the list, and when a negative value (like -3 at position 3) is reached, it is removed, shifting the subsequent values one position earlier in the list (so 6 moves into position 3). The loop then continues on to process the next item, skipping over the value that moved into the removed item’s position. If there are two negative numbers in a row (like -1 and -3), then the second one won’t be removed.

Rewrite the code to avoid this problem.

**Example 1**:

    Input: [-5, 1, -3, 2]
    
    Output: [1, 2]

**Example 2**:

    Input: [1, 2, 3, -3, 6, -1, -3, 1]
    
    Output: [1, 2, 3, 6, 1]

Hints: You may find they keyword `del` useful. Use it with index to properly remove all negative elements. 

Here is an example of using `del`

In [43]:
tempLst = [21, 24, 56, 77, 22]
del tempLst[1] # it will remove 24
print(tempLst) # become [21, 56, 77, 22]
del tempLst[2] # it will remove 77
print(tempLst) # become [21, 56, 22]

[21, 56, 77, 22]
[21, 56, 22]

In [44]:
def remove_neg(num_list):
	# your code here
	# Remove the negative numbers from the list num_list inplace, return nothing.
	for i in range(len(num_list)):
		#print(num_list[i]," ", i)
		if i < len(num_list):
			while num_list[i] < 0:
				del num_list[i]

## Question 8

1. Using nested for loops, print a right triangle of the character T on the screen where the triangle is one character wide at its narrowest point and seven characters wide at its widest point:


```
T
TT
TTT
TTTT
TTTTT
TTTTTT
TTTTTTT
```

In [45]:
## your code that can print the T on the screen shaped as above
def rtTri_1(w):
    for i in range(w+1):
        for j in range(i):
            print('T', end='')
        print('')

rtTri_1(7)

T
TT
TTT
TTTT
TTTTT
TTTTTT
TTTTTTT

2. How about printing the triangle described in the previous exercise with its hypotenuse on the left side:



```
 	      T
 	     TT
 	    TTT
 	   TTTT
 	  TTTTT
 	 TTTTTT
 	TTTTTTT
```

In [46]:
## your code that can print the T on the screen shaped as above
def rtTri_2(w):
    for i in range(w+1):
        for j in range(w-i):
            print(' ', end='')
        for k in range(i):
            print('T', end='')
        print('')

rtTri_2(7)

      T
     TT
    TTT
   TTTT
  TTTTT
 TTTTTT
TTTTTTT

## Question 9

Write the function patternedMessage(message, pattern) that takes two strings, a message and a pattern, and returns a string produced by replacing the non-whitespace characters in the pattern with the non-whitespace characters in the message. Whitespace characters in test cases include ' ', '\n', and '\t'. Non-whitespace characters in the pattern might not only contain '*'. For example, input might be ['abc def', 'abc def']. You can not use the built-in 'isspace()' method to check it.


**Example 1**:

    Input: 
```
("Go Pirates!!!", """
***************
******   ******
***************""")
```
    Output: 
```
GoPirates!!!GoP
irates   !!!GoP
irates!!!GoPira
```
    Explanation:
    
        Here, the message is "Go Pirates!!!" and the pattern is a block of asterisks with a few missing in the middle. Notice how the whitespace in the pattern is preserved, but the whitespace in the message is removed. Also, note that any leading or trailing newlines in the pattern are removed.

**Example 2**:

    Input: 

```
("Three Diamonds!","""
    *     *     *
   ***   ***   ***
  ***** ***** *****
   ***   ***   ***
    *     *     *
""")
```
    
    Output: 
```
    T     h     r
   eeD   iam   ond
  s!Thr eeDia monds
   !Th   ree   Dia
    m     o     n
```

Hint: While you may solve this how you wish, our sample solution did not use replace in any way. Instead, we started with the empy string, and built up the result character by character.

Here are two more straightforward examples:

In []:

print(repr(patternedMessage("abc def",   "***** ***** ****")))

print(repr(patternedMessage("abc def", "\n***** ***** ****\n")))

Out []:

'abcde fabcd efab'

'\nabcde fabcd efab\n'

Hint: You will almost surely want to print strings to help you debug here, but whitespace can be quite tricky in this problem. So... Instead of using print(s) in your debugging, use print(repr(s)). That way, you can easily see the whitespace.

In [47]:
def patternedMessage(msg, ptn):
    result = ''
    index = 0
    msg = msg.strip(' \n\t')
    ##print(repr(msg))
    ##ptn = repr(ptn)
    for i in ptn:
        ##print(index)
        if i == ' ' or i == '\n' or i == '\t':
            result += i
        else:
            if index >= len(msg):
                index %= len(msg)
            while msg[index] in ' \n\t':
                index += 1
            result += msg[index]
            index += 1
    return result